In [3]:
import pandas as pd

FILEFAMALEBIRTH = 'datasets/daily-total-female-births.csv'

In [12]:
ts = pd.read_csv(
    FILEFAMALEBIRTH, index_col=0,
    parse_dates=[0], # try parsing the index
    squeeze=True # If the parsed data only contains one column then return a Series
)
type(ts)

pandas.core.series.Series

In [14]:
ts.head()

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Births, dtype: int64

In [16]:
ts.size

365

In [17]:
ts['1959-05-09']

30

In [20]:
ts['1959-5']

Date
1959-05-01    32
1959-05-02    35
1959-05-03    38
1959-05-04    33
1959-05-05    39
1959-05-06    47
1959-05-07    38
1959-05-08    52
1959-05-09    30
1959-05-10    34
1959-05-11    40
1959-05-12    35
1959-05-13    42
1959-05-14    41
1959-05-15    42
1959-05-16    38
1959-05-17    24
1959-05-18    34
1959-05-19    43
1959-05-20    36
1959-05-21    55
1959-05-22    41
1959-05-23    45
1959-05-24    41
1959-05-25    37
1959-05-26    43
1959-05-27    39
1959-05-28    33
1959-05-29    43
1959-05-30    40
1959-05-31    38
Name: Births, dtype: int64

In [21]:
ts.describe()

count    365.000000
mean      41.980822
std        7.348257
min       23.000000
25%       37.000000
50%       42.000000
75%       46.000000
max       73.000000
Name: Births, dtype: float64